body {
    font: 20px Arial, sans-serif;

}

.navbar {
    background-color: #36b90b86;
}

.quemsomos {
    background-color: aqua;
    color: blue
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;

}

.parceiros{
    background-color: rgba(224, 185, 114, 0.616)
    ;
}

.serviços{
    background-color: rgba(147, 75, 214, 0.664);
}

.bg-footer{
    background-color: black;
    color: greenyellow;
    font-style: italic;
}